<div class="birthday-container">

  <h2 class="hb">Happy</h2>
  <h2 class="hb">Birthday</h2>
  <h1 class="name">Margarita</h1>

</div>

<div class="countdown-container">
  <div class="day-container">
    <div class="count">

    </div>
    <div class="title">
      days
    </div>
  </div>
  <div class="hour-container">
    <div class="count">

    </div>
    <div class="title">
      hours
    </div>
  </div>
  <div class="minute-container">
    <div class="count">
      minutes
    </div>
    <div class="title">

    </div>
  </div>
  <div class="second-container">
    <div class="count">
      seconds
    </div>
    <div class="title">

    </div>
  </div>
</div>
