<div class="content-container">


  <% unless @items %>
    <h1>What do you want for your birthday?</h1>
  <% else %>
    <h1>What <i>else</i> do you want for your birthday?</h1>
  <% end %>

  <%= render 'form' %>



</div>
