*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
}

body {
  background: url(asset-path('pattern.png'));
}

a {
  text-decoration: none;
  color: #54b99a;
}


header {
    text-align: center;
    width: 100%;
    margin-top: 1em;
}
