// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-container{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  width: 70%;
  padding: 0.5em;
  margin-left: 2em;
}

.birthday-container{
  font-weight: 900;
  color: #8ec7c0;
}

.hb {
  font-size: 5em;
  letter-spacing: -.12em;
  opacity: 0.75;
}

.hb:nth-of-type(2) {
  margin-top: -0.45em;
}

.name {
  font-size: 6em;
  margin-top: -0.4em;
  letter-spacing: -0.05em;
}

.countdown-container {
  display: flex;
}

.time-container {
  flex-grow: 1;
}

.count {
  font-size: 7em;
}

.title {
  padding-left: 1em;
}
